.home-preview {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #fafafa;
    padding-bottom: 20px;
}

.heading {
    width: 600px;
    padding-top: 50px;
    padding-left: 120px;
}

.heading h1 {
    font-size: 40px;
    line-height: 1.15;
    margin-bottom: 0;
}

.heading h3 {
    margin-top: 15px;
    font-size: 25px;
    color: #0c5d76;
}

.heading p {
    font-size: 18px;
    font-weight: 600;
}

.heading button {
    font-size: 22px;
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    color: #085066;
    background-color: #ebf1fa;
    cursor: pointer;
}

.heading button:hover {
    background-color: #e3ecf9;
    color: #033545;
}

.image-container img {
    width: 400px;
    padding-right: 80px;
}

.review-container {
    margin-top: 30px;
    margin-left: 10px;
}

.customer-reviews {
    text-align: center;
    font-size: 32px;
    color: #061e26;
}

.review-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.reviews {
    background-color: #f8fbff;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 2px 6px 0 #cfd3d7, 0 4px 10px 0 #cfd3d7;
}

.review-name {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 23px;
    color: #bbdfeb;
}

.review-ratings {
    padding-bottom: 12px;
    font-size: 18px;
    color: #9eb6be;
}

.review-name,
.review-ratings {
    text-align: center;
}

.rating-color {
    color: rgb(232, 198, 112);
}

.review-text {
    text-align: center;
    color: cornsilk;
}

.review-details h1,
h3 {
    margin: 0;
}

.review-details {
    height: 300px;
    color: white;
    background-color: #292c2c;
    border: 0;
    border-radius: 5px;
    padding: 10px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.btn button {
    background-image: linear-gradient(to right, #2C3E50 0%, #4CA1AF 51%, #2C3E50 100%)
}

.btn button {
    margin: 10px;
    padding: 15px 50px;
    font-size: 22px;
    /* text-transform: uppercase; */
    transition: 0.5s;
    background-size: 200% auto;
    color: #ffffff;
    box-shadow: 0 0 20px #eee;
    border: none;
    border-radius: 30px;
    display: block;
}

.btn button:hover {
    background-position: right center;
    color: rgb(185, 206, 203);
    text-decoration: none;
    cursor: pointer;
}