nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    padding-top: 35px;
    padding-bottom: 35px;
}

nav a {
    margin-right: 40px;
    font-size: 20px;
}