.dashBoard-container {
    margin-top: 40px;
    padding-bottom: 50px;
    margin-left: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.line-chart {
    padding-bottom: 30px;
    margin-right: 30px;
}

.area-chart {
    margin-top: -15px;
}

.bar-chart h3 {
    color: #4343bc;
    text-align: center;
    padding-bottom: 30px;
}

.pie-chart h3 {
    color: #4343bc;
    text-align: center;
    padding-bottom: 30px;
}